# Build artifacts
build/
dist/
*.spec
*.exe

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# Backups (usually local)
backups/
backup/
*.bson
*.json
*.metadata.json

# IDE
.vscode/
.idea/
